.heading{
      width: 80%;
      height: 90px;
      background-color: darkblue;
      padding-left: 80px;
      padding-top: 50px;
      margin-top: 70px;
    


}
h3{
   
    color: white;   

}
