.heading{
    width: 80%;
    height: 90px;
    background-color: darkblue;
    padding-top: 38px;
    margin-top: 70px;
    margin-left: 40px;
  


}
h3{
 
  color: white;   
  text-align: justify;

}